.nav-list li:not(:last-child){
    margin-right: 10px;
}

.navbar{
    box-shadow: 0 6px 14px #0000001a;
    position: sticky !important;
    top: 0;
    background: #fff;
    width: 100%;
    z-index: 9999999;
}
/* 
.footer{
    position: absolute;
    bottom: 0;
} */

.footer-con{
    background-color: rgb(241, 241, 241);
}

.social-links a {
    text-decoration: none;
    color: #212529;
}

.footer-navigation a {
    color: #212529;
    font-size: 1.2rem;
}

.footer-navigation ul{
    list-style: none;
}

.nav-item{
    position: relative;
    display: inline !important;
    width: auto !important;
    transition: 0.5s;
}

.nav-item label:hover{
    text-decoration: underline;
}

.nav-menu{
    position: absolute;
    background: #fff;
    width: max-content;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 6px 14px #0000001a;
    transition: 0.8s;
}

.navMenuAnimation{
    display: none;
    transition: 0.8s;
    animation: navMenu 0.5s linear;
}

/* @keyframes navMenu{
    from{
        height: 0;
    }

    to{
       height: initial;
    }
} */

.subMenu-label:hover .navMenuAnimation{
    display: block;
}

.item-content__icon{
    transition: 0.3s;
}

.subMenu-label:hover .item-content__icon{
    transform: rotate(180deg);
}

.brightness{
    filter: brightness(0.9);
}

.shop-now {
    text-decoration: none;
    background: #fff;
    padding: 16px 48px;
    border-radius: 10px;
    color: rgb(76, 31, 89);
}

.semi-header{
    font-size: 1.3rem;
    font-weight: 500;
}

.cursor{
    cursor: pointer;
}

.nav-list ul{
    list-style: none;
    padding: 0;
}

.free-shipping-text {
    background-color: rgb(76, 31, 89);
    color: #fff;
    position: relative;
    z-index: 20;
}

.header-logo-con {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 13;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-color: var(--background-color);
    transition: background-color .3s ease-in-out, height 1ms linear 999s;
}

.header-logo {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    display: block;
    width: 100%;
    height: 101%;
    object-fit: cover;
    filter: brightness(0.9);
}

.header-content {
    position: relative;
    z-index: 9999;
    color: #fff;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -53%);
}

.semi-color-content{ 
    color: rgb(93, 87, 94);
    font-size: 1.1rem;
}

.sustan-content{
    color: rgb(93, 87, 94);
    margin-bottom: 20px;
}