.nav-list li:not(:last-child){
    margin-right: 10px;
}

.navbar{
    box-shadow: 0 6px 14px #0000001a;
    position: sticky !important;
    top: 0;
    background: #fff;
    width: 100%;
    z-index: 9999999;
}
/* 
.footer{
    position: absolute;
    bottom: 0;
} */

.footer-con{
    background-color: rgb(241, 241, 241);
}

.social-links a {
    text-decoration: none;
    color: #212529;
}

.footer-navigation a {
    color: #212529;
    font-size: 1.2rem;
}

.footer-navigation ul{
    list-style: none;
}

.nav-item{
    display: inline !important;
    width: auto !important;
    transition: 0.5s;
}

.nav-item:hover{
    text-decoration: underline;
}

.brightness{
    filter: brightness(0.9);
}

.shop-now {
    text-decoration: none;
    background: #fff;
    padding: 16px 48px;
    border-radius: 10px;
    color: rgb(76, 31, 89);
}

.semi-header{
    font-size: 1.3rem;
    font-weight: 500;
}

.cursor{
    cursor: pointer;
}